.itemOption {
    padding-left: 2rem;
}

.isParent {
    /* background: gray; */
    /* border: 1px solid; */
    /* border-color: gray; */
    border-radius: 10px;
    color: white;
}


li {
    list-style-type: none
}


/* padding: 1rem !important; */


/* border: 1px solid;
    border-color: darkgray;
    border-radius: 10px; */


/* } */

.containerMenu {
    padding: 10px;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 10px;
}

.pad-5 {
    padding: 5px;
}

.btn-primary {
    background-color: #1976D2 !important;
    border-color: #2095f3 !important;
    margin: 3px;
}

.btn-danger {
    background-color: #BD2727 !important;
    border-color: #eb4135 !important;
    margin: 3px;
}

.isNewElement {
    border: 1px solid;
    border-color: gray;
    border-radius: 9px;
}

mat-form-field {
    width: 100%;
    font-size: 12px;
}