<form [formGroup]="formCreatePermission">
    <div class="row">
        <div class="col-md-12">

            <mat-form-field>
                <input matInput #description maxlength="30" required placeholder="Description" value="value"
                    formControlName="description" style="text-transform:uppercase">
                <mat-hint align="end">{{description.value.length}} / 30</mat-hint>
            </mat-form-field>

        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 text-right">
            <button type="button" mat-flat-button color="primary" style="margin-left: 10px;" (click)="OnSubmit()"
                value="Enviar" [disabled]="!formCreatePermission.valid"> Save </button>
        </div>
    </div>
    <input type="hidden" formControlName="id">
</form>
<app-spinner [show]=showLoader></app-spinner>