<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material " id="loginform" [formGroup]="UpdatePasswordForm">
                <div class="form-group">
                    <div class="col-xs-12">
                        <h2 class="modal-title">Cambio de Contraseña</h2>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">

                        <mat-form-field>
                            <input matInput #password maxlength="30" minlength="8" required placeholder="Contraseña"
                                [type]="hide ? 'password' : 'text'" value="value" formControlName="password"
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                                matTooltip="Mínimo ocho caracteres, al menos una mayuscula, un número y un carácter especial" autocomplete="off">
                            <mat-hint align="end">{{password.value.length}} / 30</mat-hint>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>

                        </mat-form-field>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <mat-form-field>
                            <input matInput #confirmPassword maxlength="30" minlength="8" required
                                placeholder="Confirmar Contraseña" [type]="hideC ? 'password' : 'text'" value="value"
                                formControlName="confirmPassword" autocomplete="off">
                            <mat-hint align="end">{{confirmPassword.value.length}} / 30</mat-hint>
                            <mat-icon matSuffix (click)="hideC = !hideC">{{hideC ? 'visibility_off' : 'visibility'}}
                            </mat-icon>

                        </mat-form-field>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-block VCB btn-rounded" type="button"
                            [disabled]="!UpdatePasswordForm.valid" (click)="UpdatePassword()">Guardar</button>
                    </div>
                </div>

                <!-- <div class="footer">
                    <p>© {{year}} Clinica Nueva.</p>
                </div> -->
            </form>


        </div>
        <footer class="footer text-center">© {{year}} Clinica Nueva.</footer>

    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<app-spinner [show]=showLoader></app-spinner>