/* input[type="text"]
 {
    font-size:20px;
 }
 input[type="password"]
 {
    font-size:20px;
 } */
.mat-form-field {
    font-size: 16px;
    width: 100%;

}

::ng-deep .mat-tooltip {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .login-register {

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
        position: fixed;
        margin-bottom: 0;
    }

    .login-box {
        width: 100%;
        margin: 0 auto;
    }

    .login-sidebar {
        padding: 0px;
        margin-top: 0px;
    }

    .login-sidebar .login-box {
        right: 0px;
        position: absolute;
        height: 100%;
    }

    .form-group {
        padding: 5px;
    }

    img {
        height: 380px;
        width: 490px;
        margin-left: 110px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .btn-block {
        display: block;
        width: 80%;
        margin-left: 60px;
    }

    i {
        cursor: grab;
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .login-register {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
        padding: 10% 0;
        position: fixed;
    }

    .login-box {
        width: 380px;
        margin: 0 auto;
    }

    #recoverform {
        display: none;
    }

    .login-sidebar {
        padding: 0px;
        margin-top: 0px;
    }

    .login-sidebar .login-box {
        right: 0px;
        position: absolute;
        height: 100%;
    }

    .form-group {
        padding: 5px;
    }

    img {
        height: 200px;
        width: 310px;
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .btn-block {
        display: block;
        width: 80%;
        margin-left: 30px;
    }

    i {
        cursor: grab;
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .login-register {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        height: 100%;
        width: 100%;
        padding: 10% 0;
        position: fixed;
    }

    .login-box {
        width: 27%;
        margin: 0 auto;

    }

    #recoverform {
        display: none;
    }

    .login-sidebar {
        padding: 0px;
        position: absolute;
        height: 100%;
    }

    .login-sidebar .login-box {
        right: 0px;
        position: initial;
        height: 45%;
        margin-top: 12%;
    }

    .form-group {
        padding: 5px;
    }

    img {
        height: 280px;
        width: 390px;
        margin-left: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .btn-block {
        display: block;
        width: 80%;
        margin-left: 50px;
    }

    i {
        cursor: grab;
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
    }
}

@media only screen and (min-width: 1601px) {
    .login-register {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        height: 100%;
        width: 100%;
        padding: 10% 0;
        position: fixed;
    }

    .login-box {
        width: 27%;
        margin: 0 auto;

    }

    #recoverform {
        display: none;
    }

    .login-sidebar {
        padding: 0px;
        position: absolute;
        height: 100%;
    }

    .login-sidebar .login-box {
        right: 0px;
        position: initial;
        height: 40%;
        margin-top: 15%;
    }

    .form-group {
        padding: 5px;
    }

    img {
        height: 280px;
        width: 390px;
        margin-left: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .btn-block {
        display: block;
        width: 80%;
        margin-left: 50px;
    }

    i {
        cursor: grab;
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
    }
}

/*******************
Login register
******************/